### Numpy

In [1]:
import numpy as np

In [3]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [4]:
np.full((2,3), 5)

array([[5, 5, 5],
       [5, 5, 5]])

In [6]:
x = np.full((5,5), 4)

In [8]:
x.shape

(5, 5)

In [9]:
x

array([[4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4]])

In [10]:
y = np.eye(5)

In [11]:
y

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [12]:
y.shape

(5, 5)

In [16]:
### creating a matrix with diagonal elements 1, 2, 3, 4 ,5
z = np.diag([1, 2, 3, 4, 5])

In [17]:
z

array([[1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0],
       [0, 0, 0, 0, 5]])

In [18]:
z.shape

(5, 5)

Creating a rank 1 ndarray that has sequential integers

In [19]:
m = np.arange(10)

In [20]:
m

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
m.shape

(10,)

In [23]:
### defining the range of elements
arr = np.arange(4, 10)
arr

array([4, 5, 6, 7, 8, 9])

Creating a rank 1 ndarray containing evenly spaced integers within a certain range

In [24]:
x = np.arange(23, 50, 7)
x

array([23, 30, 37, 44])

To exclude the endpoints we pass <b>endpoint=False</b> to the method <b>linspace()</b>

In [26]:
arr = np.linspace(55, 100, 5, endpoint=False)
arr

array([55., 64., 73., 82., 91.])

In [28]:
np.reshape(x,(2,2))

array([[23, 30],
       [37, 44]])

In [30]:
X = np.arange(20)
X

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [31]:
np.reshape(X,(4,5))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [33]:
np.reshape(X,(2,10))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]])

In [39]:
val = np.random.random((3,3))
val

array([[0.71291972, 0.14539446, 0.65690381],
       [0.17799002, 0.43354678, 0.82258522],
       [0.69500069, 0.69557704, 0.71361895]])

In [50]:
mat = np.random.randint(4,10, size=(3,3))
mat

array([[8, 5, 9],
       [6, 5, 9],
       [7, 5, 7]])

Creating a 20 x 20 ndarray of random floating point numbers drawn from a normal distribution with a mean (average) of zero and a standard deviation of 0.1.

In [55]:
arr1 = np.random.normal(0, 0.1, size=(10, 10))
arr1

array([[ 0.01636265, -0.04014637, -0.0772138 ,  0.03387651,  0.05506356,
         0.01028101, -0.06667078, -0.18795761,  0.09803371, -0.08909931],
       [ 0.10988515, -0.07551296,  0.06525029, -0.03906363,  0.07973204,
        -0.04688774, -0.10969966, -0.03569025, -0.00797287, -0.07271621],
       [ 0.08767597, -0.11196326,  0.02549369, -0.16472042, -0.04747099,
         0.11821078, -0.01898791,  0.01839965, -0.03207166,  0.08774868],
       [ 0.13700193,  0.01984727, -0.23596446,  0.01853114, -0.03457862,
        -0.03397023, -0.05135538,  0.10715655,  0.0276395 , -0.11560214],
       [ 0.16961584,  0.00904633,  0.05977592,  0.07687208,  0.19274042,
         0.05344379, -0.25568237,  0.12953459, -0.05845986,  0.04184263],
       [ 0.0393984 ,  0.01703815,  0.10598267, -0.09698046,  0.09456034,
         0.00413135,  0.11414991,  0.00550188, -0.02384901, -0.00671316],
       [-0.11601607, -0.04600571,  0.01715932,  0.00833671,  0.0512428 ,
         0.05757135, -0.03250577, -0.0219792 , -0.1576418 , -0.14265383],
       [ 0.06607392,  0.03311086,  0.00060144, -0.09852481,  0.12871612,
        -0.07760507,  0.06307823, -0.1102022 ,  0.15172277, -0.17847253],
       [ 0.02997033,  0.14799328,  0.05140518,  0.00793326, -0.08429734,
        -0.10020353, -0.07307893,  0.04600527,  0.16394075, -0.00391787],
       [-0.11157392, -0.09203124, -0.14125321,  0.15771215,  0.01575464,
        -0.05478436, -0.15354639, -0.00826362,  0.14732517,  0.13730628]])

In [59]:
# Using the Built-in functions you learned about in the
# previous lesson, create a 4 x 4 ndarray that only
# contains consecutive even numbers from 2 to 32 (inclusive)

X = np.arange(2, 34, 2).reshape(4, 4)
X

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 22, 24],
       [26, 28, 30, 32]])

In [70]:
Y = np.linspace(2, 32, 16).reshape(4,4)
Y

array([[ 2.,  4.,  6.,  8.],
       [10., 12., 14., 16.],
       [18., 20., 22., 24.],
       [26., 28., 30., 32.]])

In [71]:
Z  = np.array([[1,2,3],[4,5,6],[7,8,9]])
Z

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [72]:
m = np.delete(Z, [0, 4])
m

array([2, 3, 4, 6, 7, 8, 9])

In [73]:
m = np.delete(m, [0])
m

array([3, 4, 6, 7, 8, 9])

In [79]:
n = m.reshape(1, 6)
n

array([[3, 4, 6, 7, 8, 9]])

In [80]:
np.append(n, 12)

array([ 3,  4,  6,  7,  8,  9, 12])

In [81]:
Y

array([[ 2.,  4.,  6.,  8.],
       [10., 12., 14., 16.],
       [18., 20., 22., 24.],
       [26., 28., 30., 32.]])

In [82]:
X

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 22, 24],
       [26, 28, 30, 32]])

In [83]:
w = np.insert(X, 1, 5, axis=1)

In [84]:
w

array([[ 2,  5,  4,  6,  8],
       [10,  5, 12, 14, 16],
       [18,  5, 20, 22, 24],
       [26,  5, 28, 30, 32]])

In [85]:
np.insert(X, 2, 5, axis=0)

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [ 5,  5,  5,  5],
       [18, 20, 22, 24],
       [26, 28, 30, 32]])

In [86]:
np.insert(X, 2, [3,4])

array([ 2,  4,  3,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30,
       32])

In [127]:
ar = np.arange(2, 41, 2)
ar.reshape(4,5)

array([[ 2,  4,  6,  8, 10],
       [12, 14, 16, 18, 20],
       [22, 24, 26, 28, 30],
       [32, 34, 36, 38, 40]])

In [116]:
# We insert a row between the first and last row of y
w = np.insert(ar, 1, [4,5,6],axis=0)
print(w)
print(w.shape)

[ 2  4  5  6  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40]
(23,)

In [128]:
ar

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34,
       36, 38, 40])